[Unit]
Description=Lighthouse Validator
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=lighthousevalidator
Group=lighthousevalidator
Restart=always
RestartSec=5
ExecStart=/usr/local/bin/lighthouse validator_client --network {{ beacon_network_tag }} --datadir /var/lib/lighthouse --graffiti "Free Brittany!"

[Install]
WantedBy=multi-user.target
